.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


html, body {
  margin:0;
  padding:0;
  box-sizing:border-box;
  background: #ffffff;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;

  position: fixed;
  left: calc(50% - 1280px/2);
  top: 0px;
  width: 1280px;
  height: 80px;

  background: #F4F4F4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}


.nav--logo {
  width: 270px;
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.nav__topolinear {
  display: flex;
  flex-direction: row;

  width: 1000px;
  height: 48px;
  justify-content: space-around;
  align-items: center;

}

.nav--background {
  display: flex;
  flex-direction: row;

  width: 230px;
  height: 48px;

  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.nav--background_entrega {
  position: absolute;
  margin-left: 8px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  
  display: flex;

  letter-spacing: 0.2px;
  
  color: #D80000;
}

.container--keyboard {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: right;

  right: 14px;
  top: 20.29px;
}

.__keyboard {
  height: 7.41px;
  padding-left: 204px;
  padding-top: 20.29px;
}

.nav--background_endereco {
  position: absolute;
  margin-top: 32px;
  margin-left: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  
  display: flex;
  align-items: center;
  
  color: #656363;
}

.nav--inputplaceholder {
  width: 354px;
  height: 80px;
}

.nav--inputplaceholder {
  width: 354px;
  height: 48px;
  border: 1px solid #ED3237;
  box-sizing: border-box;
  border-radius: 4px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;

  text-align: justify;
}

.div--ul {
  width: 300px;
  height: 48px;
  
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.nav--ul {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.ul--1 {
  width: 120px;
  height: 32px;
  display: flex;
  flex-direction: row;
}

.ul--2 {
  width: 150px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}


.nav--icone1 {
  width: 32px;
  height: 32px;
  top: 8px;
  left: 632px;
}

.nav--icone2 {
  width: 32px;
  height: 32px;
  padding-top: 8px;
}

.nav--ico2part2 {
  position: absolute;
  left: 1160px; 
  top: 30px;

  width: 16px;
  height: 16px;
  
}

.nav--link1 {
  position: absolute;
  left: 1050px;
  top: 45px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #ED3237;
}

.nav--link2 {
  position: absolute;
  left: 1170px;
  top: 45px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #ED3237;
}

.ico--numero {
  position: absolute;
  left: 1166px;
  top: 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #FFFFFF;
}

.link--carrinho {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  padding: 0;
}

.main--flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 130px 120px;

  background: #FFFFFF;
}


.main--div_esquerda {
  width: 597px;
  height: 662px;
  left: 66px;
  top: 24px;

  background: #FFFFFF;
}

.main--divpicanha{
  width: 663px;
  height: 388px;
}

.main--Oferta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 662px;
  height: 215.58px;
}

.main--PicanhaBacon {
  max-width: 100%;
  width: 597px;
  height: 388px;
  left: 0px;
  top: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}


.main--text1 {  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  
  display: flex;
  align-items: center;
  
  color: #4E4E4E;
}

.main--text2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  text-align: left;

  color: #4E4E4E;
}

.main--preco {
  align-items: left;
  width: 663px;
  height: 58.82px;
}

.main--text3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;

  color: #DC6E05;
}

.text3--atual {
  width: 116px;
  height: 38px;
  left: 0px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 120%;

  display: flex;
  align-items: center;

  color: #DC6E05;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.text3--antigo {  
  width: 116px;
  height: 38px;
  left: 133px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 120%;

  display: flex;
  align-items: center;
  text-decoration-line: line-through;

  color: #4E4E4E;
}

.main--div_direita {
  position: static;
  width: 439px;
  height: 662px;
  left: 775px;
  top: 104px;
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  padding: 32px;
  align-self: flex-start;
  
  border: 1px solid #686868;
  box-sizing: border-box;
  border-radius: 8px;

  background: white;
}

.divdireita--box {
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  align-items: center;

  width: 375px;
  height: 537px;

  background: white;
}

.box--rectangle1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  padding: auto;
  margin: 0;

  width: 375px;
  height: 60px;

  background: rgba(233, 219, 166, 0.2);;
}

.box--text1 {
  width: 343px;
  height: 23px;
  text-align: left;

  margin: 0;
  padding: 8px 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #4E4E4E;
}

.box--text2 {
  width: 343px;
  height: 16px;
  text-align: left;

  padding: 8px 16px;

  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;


  color: #E49700;
}

.container--ingredientes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  padding: 0px;
  margin: 0;
  bottom: 2px;

  width: 359px;
  height: 436px;
}

.rectangle--ingrediente { 
  display: flex;
  flex-direction: column;

  width: 359px;
  height: 88px;

  background: white;
}

.ingrediente--nome {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  
  padding: 8px;

  display: flex;
  align-items: center;

  color: #4E4E4E;
}

.input--qtd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: white;
}

.rectangle--input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 89px;
  height: 32px;
  right: 8px;
  top: calc(50% - 32px/2 - 1.5px);

  background: white;

  border: 1px solid #F09035;
  box-sizing: border-box;
  border-radius: 5px;
}

.__vector1 {
  width: 14px;
  height: 2px;
}
.__vector2 {
  width: 14px;
  height: 14px;
}
.__vector3 {
  width: 14px;
  height: 2px;
}


.container--inputqtd {
  width: 25px;
  height: 16px; 
  right: 8px;

  background: white;
  
  border: 0px;
}

.ingrediente--valor {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  
  padding: 8px;

  display: flex;
  align-items: center;
  
  color: #F09035;
}

.rectangle1--talher {
  width: 343px;
  height: 23px;
  left: 16px;
  top: 499px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  margin: 0;
  padding: 8px 16px 24px 16px; 

  display: flex;
  align-items: center;

  color: #4E4E4E;
}

.resposta--1 {
  width: 343px;
  height: 30px;
  background: #D80000;
}

.resposta--sim {
  width: 343px;
  height: 30px;
  background: #00d8a9;
}

.resposta--nao {
  width: 343px;
  height: 30px;
  background: #5a4545;
}

.__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: ;
  width: 375px;
  height: 40px;
}
.__add {
  width: 20px;
  background: yellow;
}

.bottom--rectangle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 140px;
  height: 40px;
  background: white;

  border: 1px solid #F09035;
  border-radius: 4px;
}

.button--add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 219px;
  height: 40px;

  background: #F09035;
  border-radius: 7px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;

  text-align: center;
  letter-spacing: 0.33px;

  color: #FFFFFF;
}

.nav--button {
  display: none;
}


@media screen and (max-width: 480px) {
  header {
    display: flex;
    flex-direction: row;
  }

  nav {
    position: sticky;
    width: 357px;
    height: 56px;
 
    background: #F4F4F4;
  }

  .App {
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .nav--button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
     
    margin: 0;

    width: 56px;
    height: 56px;
  }

  .nav--logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.main--flex-container { 
    padding: 12px 32px;
    display: flex;
    flex-direction: column;
}

.main--div_esquerda {
    width: 375px;
    height: 330px;
}

.main--divpicanha {
   width: 375px;
   height: 130.96px;
}

.main--PicanhaBacon {
    width: 200px;
    height: 130.96px;
}

.main--Oferta {
   width: 375px;
   height: 100px;
   padding-top: 60px;
   justify-content: space-evenly;
}

.main--text1 {
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 16px;

   color: #4E4E4E;

   flex: none;
   order: 0;
   flex-grow: 0;
}

.main--text2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.main--preco {
  width: 375px;
  height: 43px;
}

.main--text3 {
  display: flex;
  flex-direction: row;
  justify-content: ;
}

.text3--atual {
  font-size: 14px;
  line-height: 16px;
  color: #E49700;
  width: 64px;
  height: 11px;
}

.text3--antigo {
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #4E4E4E;
}

.main--div_direita {
  width: 375px;
  height: 624px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 8px;
  border: none;
}

.divdireita--box {
  width: 355px;
  height: 592px;  
}

.container--ingredientes {
  max-width: 355px;
  max-height: 712px;
}

.__bottom {
  width: 366px;
  height: 40px;
}

.button--add {
  position: static;
  width: 195px;
  height: 40px;
}

.nav--background{
  display: none;
}

.nav--inputplaceholder {
  display: none;
}

.div--ul {
  display: none;
}

}